.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-self: stretch;
}

.textContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
}
