.section {
  align-self: stretch;
  position: relative;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  align-items: end;
  box-sizing: border-box;
}

.itemContainer {
  display: flex;
  align-items: center;
}

.itemContainer svg {
  margin-right: 8px;
  width: 26px;
}

.lockContainer {
  display: grid;
  flex-direction: column;
  align-items: stretch;
  justify-self: stretch;
}

.dragContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: stretch;
  overflow-y: scroll;
  height: calc(100vh - 524px);
  scrollbar-width: 8px;
  scrollbar-color: #8585ad #2f2f37;
}

.dragContainer::-webkit-scrollbar {
  width: 8px;
}

.dragContainer::-webkit-scrollbar-track {
  background: #2f2f37;
}

.dragContainer::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.dragContainer::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.sum {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.sum svg {
  width: 33px;
  height: 33px;
  margin-left: 8px;
}
