.app {
  background-color: #131316;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
.link {
  text-decoration: none;
  color: #4c4cff;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
