.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.image {
  max-width: 240px;
  width: 100%;
  object-fit: contain;
}

.price {
  display: flex;
  flex-direction: row;
}
