.picture {
  width: 480px;
  object-fit: contain;
}

.nutritional {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  list-style: none;
  column-gap: 20px;
  padding: 0;
}

.nutritionalItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
