.container {
  overflow-y: scroll;
  height: calc(100vh - 284px);
  box-sizing: border-box;
  display: grid;
  grid-row: auto;
  row-gap: 16px;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #2f2f37;
}

.container::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.container::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}
