.appHeader {
  background-color: #1c1c21;
}

.headerContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 8px;
  margin: 0;
  padding: 0;
  justify-self: start;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}
